# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 10
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [4]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  ✅ Trip Verified | Worst service ever. Lost bag...
1  ✅ Trip Verified |  BA 246 21JAN 2023 Did not a...
2  ✅ Trip Verified | Not a great experience. I co...
3  Not Verified | I was excited to fly BA as I'd ...
4  Not Verified |  I just want to warn everyone o...

In [6]:
df.to_csv("BA_reviews.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [7]:
df["reviews"]=[x.strip("✅ Trip Verified") for x in df["reviews"]]

In [8]:
df

                                               reviews
0    | Worst service ever. Lost baggage because of ...
1    |  BA 246 21JAN 2023 Did not appreciate the un...
2    | Not a great experience. I could not check in...
3    Not Verified | I was excited to fly BA as I'd ...
4    Not Verified |  I just want to warn everyone o...
..                                                 ...
995  |  Doha to London Heathrow. Flight on time, no...
996  |  Miami to Tel Aviv via London. At Miami airp...
997  |  London to Seoul. I normally fly business bu...
998  |  London Heathrow to New York JFK. Bag drop d...
999  | San Diego to London. From the moment that I ...

[1000 rows x 1 columns]

In [10]:
df["reviews"]=[x.strip("|") for x in df["reviews"]]

In [11]:
df

                                               reviews
0     Worst service ever. Lost baggage because of d...
1      BA 246 21JAN 2023 Did not appreciate the unp...
2     Not a great experience. I could not check in ...
3    Not Verified | I was excited to fly BA as I'd ...
4    Not Verified |  I just want to warn everyone o...
..                                                 ...
995    Doha to London Heathrow. Flight on time, not...
996    Miami to Tel Aviv via London. At Miami airpo...
997    London to Seoul. I normally fly business but...
998    London Heathrow to New York JFK. Bag drop di...
999   San Diego to London. From the moment that I b...

[1000 rows x 1 columns]